@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body,
html {
    height: 100%;
}

body,
h1,
h2,
button,
p {
    margin: 0;
}

:root {
    --dark-color: #17252A;
    --hover-color: #727d8f;
    --main-color: #64a494;
    --bg-color: #76c2af;
    --light-color: #F4C095;
    --bright-color: #EE2E31;
}

body {
    background-color: var(--bg-color);
    font-family: 'Fredoka One', cursive;
    color: var(--dark-color);
}

main,
.menu {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
}

.profile,
.game {
    flex: 1 1 auto;
}

.game,
.profile,
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    gap: 30px;
}

h1 {
    color: var(--dark-color);
    font-size: 4rem;
}

.restart {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.restart:hover {
    color: white;
}

.grid-container {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    margin: 10px;
}

.cell {
    background-color: var(--bg-color);
    font-size: 7rem;
    text-align: center;
}

.restart,
.cell,
span {
    cursor: pointer;
}

.status {
    font-size: 2rem;
    height: 2rem;
}

.menu {
    position: fixed;
    background-color: white;
    color: inherit;
    text-align: center;
}

.deactivate {
    visibility: hidden;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

p {
    font-size: 1.5rem;
}

.opponents {
    display: flex;
    gap: 80px;
    margin-top: 60px;
}

img {
    width: 200px;
    height: auto;
}

.profile p:last-child {
    margin-top: 10px;
    color: white;
    font-size: 3rem;
}

b {
    color: var(--bright-color);
}