@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body,
html {
    height: 100%;
}

body,
h1,
button {
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: #071E22;
    --main-color: #4f7069;
    --bg-color: #679289;
    --light-color: #F4C095;
    --bright-color: #EE2E31;
}

body {
    background-color: var(--bg-color);
    font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h1 {
    color: var(--dark-color);
    font-size: 4rem;
}

button {
    display: inline-flex;
    align-items: center;
    font-family: inherit;
    font-size: 2rem;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
}

button:hover{
    color: white;
}

.selections {
    width: 500px;
    display: flex;
    justify-content: space-around;

}

.grid-container {
    background-color: var(--main-color);
    /* width: 500px;
    height: 500px; */

    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    margin: 10px;
}

[data-box] {
    background-color: var(--bg-color);
    font-size: 7rem;
    text-align: center;
}

button,
[data-box] {
    cursor: pointer;
}

